name: Run Pipeline Test | Development

on: 
  pull_request:
    branches:
      - main

jobs:
  Development:
    uses: ezwiefel/safe-driver-prediction/.github/workflows/pipeline.yml@develop
    with:
      environment: development
    secrets:
      azure_sp_creds: ${{ secrets.AZURE_SP_CREDS }}
      datastore_sas_token: ${{ secrets.PUBLICMLDATASC_SAS_TOKEN }}

